/* Styling */

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon|IM+Fell+Great+Primer|IM+Fell+Great+Primer+SC');

body {
    color: #666;
    position: relative;
    background: #600 url("../img/mainbg.jpg") center no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

  #girl {
    display: none;
    position: relative;
}

h1 {
    text-align: center;
}

h1 {
  font-size: 50px;
}

h1 {

  color:	#D5AD6D; 
	background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%);
	background: -o-linear-gradient(transparent, transparent);
	-webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


h1, h2, h3 {
    font-family: 'IM Fell Great Primer', serif;
}


h2, h3 {
    color: #65201e;
}

p, li {
font-family: 'IM Fell French Canon', serif;
line-height: 1.5em; 
font-size: 1.1em; 
}

/* 
  width: 500px;
    height: 641px;
*/

video {
    max-width: 100%;
    height: 100%;
} 


.section {
  background-color: #515151;
  color: black;
  width: 85%; 
  padding: 10px; 
  line-height: 1.5em;
  border: 4px solid black; 
  margin: 30px auto 30px auto;
}

#trailer {
max-width: 100%;
padding: 0 30px 0 30px;
}


button {
  font-size: 1em; 
  font-family: 'IM Fell French Canon', serif;
  background-color: #902a26;
  border: none; 
  padding: 15px; 
  border-radius: 10px; 
  color: white; 
  margin: 10px; 
    transition: background 1s,
    border 1s;
}

button:hover {
  background-color: white;
  color: black;
  border: 5px double #50537c;
  transition: background 1s,
    border 1s;
}

a:link {
    color: #902a26; 
    text-decoration: none;
}

a:visited {
    color: #515151;
}

a:hover {
    color: #50537c;
}

.other {
  display: flex; 
  list-style-type: none;
  padding: 5px;
  background-color: black;
  border-radius: 10px;
  justify-content: space-around;
}

li {
  padding: 10px;
}

/* Mobile: 320px = 20em */
@media screen and (min-width: 35em) { 
	
      #girl {
    display: block; 
    width: 40%;
    bottom: 0;
    right: 0;
    z-index: 2;
    position: fixed;
}
  
  .section {
  background-color: #515151;
  color: black;
  margin-top: 30px;
  width: 50%; 
  padding: 10px; 
  line-height: 1.5em;
  border: 4px solid black; 
  margin-bottom: 30px; 
  margin-left: 30px; 
}
  
  #trailer {
max-width: 65%;
padding: 0 30px 0 30px;
}
  
}


/* Tablet:  768px = 160em */
@media screen and (min-width: 48em)  {


}

/* Desktop: 1280px = 80em */
@media screen and (min-width: 80em) { 

}


