
/***************/
/* YOUR STYLES */
/***************/

/* Color Palette */

.color-1 {
    background-color: #323151; 
}

.color-2 {
    background-color: #50537c;
}

.color-3 {
    background-color: #902a26;
}

.color-4 {
    background-color: #773421;
}

.color-5 {
    background-color: #515151; 
}

/* Textures or Patterns*/

.pattern-1 {
    background-image: url("../img/footer_lodyas.png")
}

.pattern-2 {
    background-image: url("../img/congruent_outline.png");
}

.pattern-3 {
    background-image: url("../img/stardust.png");
}

.pattern-4 {
    background-image: url("../img/black_twill.png");
}

.pattern-5 {
    background-image: url("../img/dirty_old_shirt.png");
}

/* Imagery */

.imagery-1 img {
    border: none; 
    -webkit-box-shadow: 0 5px 10px #333;
    box-shadow: 0 5px 10px #333;
}

.imagery-2 img {
    border: none; 
        -webkit-box-shadow: 0 5px 10px #333;
    box-shadow: 0 5px 10px #333;
}

/* Icons */


/* Navigation */

a:link {
    color: #902a26; 
    text-decoration: none;
}

a:visited {
    color: #515151;
}

a:hover {
    color: #50537c;
}


/* Typography */
@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|IM+Fell+Great+Primer');

h1, h2, h3 {
    font-family: 'IM Fell Great Primer', serif;
}

p {
    line-height: 1.5em;
}
