
/***************/
/* YOUR STYLES */
/***************/

@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon|IM+Fell+Great+Primer|IM+Fell+Great+Primer+SC');


/* Color Palette */

.color-1 {
    background-color: #323151; 
}

.color-2 {
    background-color: #50537c;
}

.color-3 {
    background-color: #902a26;
}

.color-4 {
    background-color: #773421;
}

.color-5 {
    background-color: #515151; 
}

/* Textures or Patterns*/

.pattern-1 {
    background-image: url("../img/footer_lodyas.png")
}

.pattern-2 {
    background-image: url("../img/congruent_outline.png");
}

.pattern-3 {
    background-image: url("../img/stardust.png");
}

.pattern-4 {
    background-image: url("../img/black_twill.png");
}

.pattern-5 {
    background-image: url("../img/dirty_old_shirt.png");
}

/* Imagery */

.imagery-1 img {
    border: none; 
    -webkit-box-shadow: 0 5px 10px #333;
    box-shadow: 0 5px 10px #333;
}

.imagery-2 img {
    border: none; 
        -webkit-box-shadow: 0 5px 10px #333;
    box-shadow: 0 5px 10px #333;
}

/* Icons */


/* Navigation */

a:link {
    color: #902a26; 
    text-decoration: none;
}

a:visited {
    color: #515151;
}

a:hover {
    color: #50537c;
}

 /* Dropdown Button */
.dropbtn {
    background-color: #515151;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
  background-color: #50537c;
  color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
    background-color: #902a26;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #50537c;
    color: white; 
}

/* button styling */

button {
  background-color: #902a26;
  border: none; 
  padding: 15px; 
  border-radius: 10px; 
  color: white; 
  margin: 10px; 
    transition: background 1s,
    border 1s;
}

button:hover {
  background: transparent;
  color: black;
  border: 5px double #50537c;
  transition: background 1s,
    border 1s;
}


/* Typography */

h1, h2, h3 {
    font-family: 'IM Fell Great Primer', serif;
}


h1 {
    color: #902a26;
}

h2, h3 {
  color: #50537c;
}

p {
font-family: 'IM Fell French Canon', serif;
line-height: 1.5em; 
}
